<!--sentiment.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container" style="width: 100%; background: white; display: flex; height: 600px;">
    <div style="background: white; width: 50%; max-width:400px; float:left;">
        <table class="sortable" id="dataTable" onclick="drawSentimentChart()">
            <thead bgcolor="74c45e" style="cursor: pointer;">
                <th>Symbol</th>
                <th>Count</th>
                <th>Compound</th>
                <th>Positive</th>
                <th>Neutral</th>
                <th>Negative</th>
            </thead>
            <tbody>
            {{range $v := .payload}}
            <tr>
                <td>{{$v.Ticker}}</td>
                <td>{{$v.Score.Count}}</td>
                <td>{{$v.Score.Compound}}</td>
                <td>{{$v.Score.Pos}}</td>
                <td>{{$v.Score.Neu}}</td>
                <td>{{$v.Score.Neg}}</td>
             </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div style="background:blue; max-width:500px; min-width:400px;">
        <h3>Timestamp: {{.timestamp}}</h3>
        <h4>Top mentions and sentiment analysis from COMMENTS every 30 minutes from: </h4>
        <ul>
            <li>/r/wallstreetbets</li>
            <li>/r/stocks</li>
            <li>/r/investing</li>
            <li>/r/stockmarket</li>
            <li>/t/TrailerParkBets<li>
        </ul>

        <h4>Current parameter:</h4>
        <ul>
            <li>Only comments from posts that meet following criteria are considered.</li>
            <li>Posts that are considerd 'HOT' e.g. /r/wallstreetbets/hot</li>
            <li>Post Up vote ratio must be above .5 and has at least 5 up votes</li>
            <li>Posts with the following flairs OR without any flairs</li>
            <li>{'DD', 'YOLO', 'Company Discussion', 'Daily Discussion', 'Weekend Discussion', 'Discussion'}</li>
            <li>Each user only count ONCE per Symbol</li>
            <li>Comments of the post must have at least 2 up votes</li>
        </ul>
    </div>
</div>
<div class="chart-container" style="background: white; position: relative; height:50vh; width:80vw;">
    <canvas id="myChart" style=""></canvas>
    <script type='text/javascript'> drawSentimentChart(); </script>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
