<!--sentiment.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
This page shows the top mentions and sentiment analysis from: 
/r/wallstreetbets, /r/stocks, /r/investing, /r/stockmarket, /t/TrailerParkbets
<br>
<!--Loop over the payload variable, which is the list of articles-->
<h3>Timestamp: {{.timestamp}}</h3>
<div style="width: 100%;">
    <div style="width: 25%; height: 100px; float: left; background: white;">
        <table class="table" id="dataTable">
            <thead>
                <th>Symbol</th>
                <th>Count</th>
                <th>Compound</th>
                <th>Positive</th>
                <th>Neutral</th>
                <th>Negative</th>
            </thead>
            <tbody>
            {{range $v := .payload}}
            <tr>
                <td>{{$v.Ticker}}</td>
                <td>{{$v.Score.Count}}</td>
                <td>{{$v.Score.Compound}}</td>
                <td>{{$v.Score.Pos}}</td>
                <td>{{$v.Score.Neu}}</td>
                <td>{{$v.Score.Neg}}</td>
             </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div style="margin-left: 28%; height: 100px; background: white;">
        <div class="chart-container" style="position: relative; height:80vh; width:70vw">
            <canvas id="myChart"></canvas>
            <script type='text/javascript'> drawSentimentChart(); </script>
        </div>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
